:root {
  --color-blue1: rgb(71, 94, 108);
  --color-blue2: rgb(20, 27, 31);
  --color-primary: rgb(0, 170, 162);
  --font-color: rgb(41, 52, 57);
  --color-gradient: linear-gradient(
    to right,
    var(--color-blue1),
    20%,
    var(--color-blue2)
  );
}

body {
  background: white;
  color: var(--color-primary);
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto;
  margin: 0px;
  min-height: 100vh;
}

/* GLOBAL */
a {
  color: var(--color-blue2);
}

a:hover,
a:hover svg {
  color: var(--color-primary);
}
/* NAVIGATION */
nav {
  background: var(--color-gradient);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

nav a:has(img) {
  margin-right: auto;
}

nav a .css-zza0ns-MuiBadge-badge {
  background-color: var(--color-primary);
}

nav svg {
  color: lightgrey;
  padding-inline-start: 16px;
}

/* MAIN AREA */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

body:has(main[data-darkmode="true"]) {
  background: black;
  color: white;
}

a:has(.DashboardCard) {
  box-sizing: border-box;
  display: block;
  text-decoration-line: none;
  color: var(--color-blue2);
  font-size: 16px;
  font-weight: 500;
  /* width: 50%; */
  flex: 50%;
  max-width: 400px;
  padding-block-end: 20px;
}

main[data-darkmode="true"] .DashboardCard {
  background: var(--color-blue2);
  color: white;
}

a:has(.DashboardCard):nth-child(odd) {
  padding-inline-end: 10px;
}
a:has(.DashboardCard):nth-child(even) {
  padding-inline-start: 10px;
}

@media (min-width: 1024px) {
  a:has(.DashboardCard) {
    padding-inline: 10px;
  }
}

.DashboardCard {
  box-sizing: border-box;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 24px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.DashboardCard > div {
  text-align: center;
  align-content: center;
}

.DashboardCard svg {
  font-size: 48px;
  color: var(--color-blue1);
}

/* FOOTER */
footer {
  box-sizing: border-box;
  background-color: var(--color-primary);

  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

footer a {
  /* dit werkt goed als je alleen op het icoon klikt */
  /* align-self: center;
  margin: auto; */

  /* dit is voor de hele area, kijken wat gewenst is */
  width: 100%;
  display: flex;
  justify-content: center;
  color: white !important;
  opacity: 0.6;
}
footer a:hover,
footer a:hover svg {
  color: white;
  opacity: 1;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 1rem;
}

.field-title {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}
